@font-face {
  font-family: 'NotoSansKR';
  src: url('NotoSansKR-Regular.otf') format('opentype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('NotoSansKR-Thin.otf') format('opentype');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('NotoSansKR-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('NotoSansKR-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
